
body{
    background-color: #4777CD;
    font-family: 'Montserrat', sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.titulo {
    text-align: center;
    background-color: #4777CD;
}


.listado {
    text-align: center;
    
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    
}


.nombre {
    margin-inline: 5px 5px;
}
/* 
div {
    flex-direction: row;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    div {
        flex-direction: column;
        font-size: 30px;
    }
    
}

@media screen and (max-width: 450px) {
    
} 
*/

.botones{
    display: flex; 
    justify-content: space-evenly;
    padding: 20px;
}
.bola {
    width: 100%;
    display: flex;
    justify-content: center;
    }
.bola img{
    width: 400px;
}
