
body{
    background-color: #4777CD;
    font-family: 'Montserrat', sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.titulo {
    text-align: center;
    background-color: #4777CD;
}


.listado {
    display: flex;
    text-align: center;
    border: 2px solid black;
    width: 50%;
    /* he centrado la caja del listado probando diferentes porcentajes a continuaci칩n, 
    a침adiendo margin*/
    margin: 1% 25%;
    
    justify-content: center;
    align-items: center;
    
}


.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 0;
    padding-inline-start: 0;
    
}


.nombre {
    padding: 5px;
    margin-left: 0;
}
/* 
div {
    flex-direction: row;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    div {
        flex-direction: column;
        font-size: 30px;
    }
    
}

@media screen and (max-width: 450px) {
    
} 
*/

.botones{
    display: flex; 
    justify-content: space-evenly;
    padding: 20px;
}
.bola {
    width: 100%;
    display: flex;
    justify-content: center;
    }
.bola img{
    width: 400px;
}
.cajaresultado {
    display: flex;
    text-align: center;
    border: 2px solid black;
    width: 50%;
    /* he centrado la caja del listado probando diferentes porcentajes a continuaci칩n, 
    a침adiendo margin*/
    margin: 1% 25%;
    justify-content: center;
    align-items: center;
}

footer {background-color: hsl(51, 100%, 50%);
    display:flex;
    justify-content: center;
    }
.textofooter {
    font-size: 12px;
}
footer img {
    width: 1%;
 ;
}